@using WebUI.HtmlHelpers
@model WebUI.Models.MenuListViewModel

@{
    ViewBag.Title = "Bar.Net: Menu";
}

<h2>Menu@(ViewBag.SelectedCategory == null ? "" : ": " + ViewBag.SelectedCategory)</h2>

@foreach (var item in Model.MenuItems)
{
    Html.RenderPartial("MenuItemSummary", item);
}

<div class="pagination">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>
