<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManagerDataAccessWCFService" />
                <binding name="BasicHttpBinding_IManagerDataAccessWebWCFService" />
                <binding name="BasicHttpBinding_IClientDataAccessWebWCFService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWaiterDataAccessWCFService" />
                <binding name="WSDualHttpBinding_IClientDataAccessWCFService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://thestation/DataAccessIISHost/DataAccess.svc/ManagerDataAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerDataAccessWCFService"
                contract="WaiterDataAccessWCFService.IManagerDataAccessWCFService"
                name="BasicHttpBinding_IManagerDataAccessWCFService" />
            <endpoint address="http://thestation/DataAccessIISHost/DataAccess.svc/ManagerWebDataAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerDataAccessWebWCFService"
                contract="WaiterDataAccessWCFService.IManagerDataAccessWebWCFService"
                name="BasicHttpBinding_IManagerDataAccessWebWCFService" />
            <endpoint address="http://thestation/DataAccessIISHost/DataAccess.svc/ClientWebDataAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientDataAccessWebWCFService"
                contract="WaiterDataAccessWCFService.IClientDataAccessWebWCFService"
                name="BasicHttpBinding_IClientDataAccessWebWCFService" />
            <endpoint address="http://thestation/DataAccessIISHost/DataAccess.svc/WaiterDataAccess"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWaiterDataAccessWCFService"
                contract="WaiterDataAccessWCFService.IWaiterDataAccessWCFService"
                name="WSDualHttpBinding_IWaiterDataAccessWCFService" />
            <endpoint address="http://thestation/DataAccessIISHost/DataAccess.svc/ClientDataAccess"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IClientDataAccessWCFService"
                contract="WaiterDataAccessWCFService.IClientDataAccessWCFService"
                name="WSDualHttpBinding_IClientDataAccessWCFService">
                <identity>
                    <servicePrincipalName value="host/TheStation" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>