<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IManagerDataAccessWCFService" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IWaiterDataAccessWCFService" />
        <binding name="WSDualHttpBinding_IClientDataAccessWCFService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://komputer_pawla/DataAccessIISHost/DataAccess.svc/ManagerDataAccess"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerDataAccessWCFService"
        contract="ManagerDataAccessWCFService.IManagerDataAccessWCFService"
        name="BasicHttpBinding_IManagerDataAccessWCFService" />
      <endpoint address="http://komputer_pawla/DataAccessIISHost/DataAccess.svc/WaiterDataAccess"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWaiterDataAccessWCFService"
        contract="ManagerDataAccessWCFService.IWaiterDataAccessWCFService"
        name="WSDualHttpBinding_IWaiterDataAccessWCFService">
        <identity>
          <servicePrincipalName value="host/komputer_pawla" />
        </identity>
      </endpoint>
      <endpoint address="http://komputer_pawla/DataAccessIISHost/DataAccess.svc/ClientDataAccess"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IClientDataAccessWCFService"
        contract="ManagerDataAccessWCFService.IClientDataAccessWCFService"
        name="WSDualHttpBinding_IClientDataAccessWCFService">
        <identity>
          <servicePrincipalName value="host/komputer_pawla" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="SmarterASPDB" connectionString="Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9B9E2A_wmdb;User Id=DB_9B9E2A_wmdb_admin;Password=slonazupa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>