<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManagerDataAccessWCFService" />
                <binding name="BasicHttpBinding_IWaiterDataAccessWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pawel-komputer/DataAccessIISHost/DataAccess.svc/ManagerDataAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerDataAccessWCFService"
                contract="ClientDataAccessWCFService.IManagerDataAccessWCFService"
                name="BasicHttpBinding_IManagerDataAccessWCFService" />
            <endpoint address="http://pawel-komputer/DataAccessIISHost/DataAccess.svc/WaiterDataAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWaiterDataAccessWCFService"
                contract="ClientDataAccessWCFService.IWaiterDataAccessWCFService"
                name="BasicHttpBinding_IWaiterDataAccessWCFService" />
        </client>
    </system.serviceModel>
</configuration>